body {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    padding: 100px;
}
.container {
    border: 1px solid black;
    background-color: rgb(226, 206, 182);
    padding: 30px 50px;
    display: flexbox;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}
.container input {
    margin-bottom: 20px; 
    text-align: center;
}
#button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: white;
    border: none;
    padding: 5px 10px;
}

#button:hover{
    background-color: rgb(139, 81, 5);
    color: white
}
.answer-box {
    margin: auto;
    border: 1px solid black;
    text-align: left;
    padding: 0 50px;
    width: 20%;
    color: white;
    height: 50px;
    background-color: rgb(53, 42, 5);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
